[submodule "trainee_frontend"]
	path = trainee_frontend
	url = https://github.com/harshmanek1001/node_app_frontend.git
[submodule "trainee_backend"]
	path = trainee_backend
	url = https://github.com/harshmanek1001/node_app_backend.git
